/**
 * 响应式页面
 */
.p-doctor_item {
  padding-bottom: 15px;
  margin-bottom: -10px;
}
.p-doctor_item:first-child {
  border-right: 1px solid #dddddd;
}
.p-table-bt--0 {
  border-top: 0px !important;
}
.p-table-bt--0 tbody > tr:first-child > td {
  border-top: 0px !important;
}
.p-o--s-h400 {
  overflow-y: scroll;
  height: 400px;
}
